<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Iceburg</title>
    <link href="/stylesheets/iceburg.css" rel="stylesheet"></link>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="content">
      <img id="title" src="/images/IceburgInverted.png">
      <p id="subtitle" >There's More Below the Surface</p>

      <div class="buttons">
        <p><a id="play" href="#">Play</a></p>
        <p><a id="about" href="#">About</a></p>
      </div>
    </div>

    <div class="about" hidden>
      <p>Iceburg is a game about that part of the internet we don't see.  The
        part that the search giants tend to ignore...or avoid.</p>

      <p>Maybe you've already heard about the Deep Web.  You've heard about
        sites where shady people congregate to buy drugs online with
        cryptocurrency, look at illegal pornography, maybe do something more
        innocent like trade pirated books on anarchist philosophy.</p>

      <p>But what if there's more?</p>

      <p>What if the urban legends are true about the Deep Web?  What if there
        are government databases filled with classified material?  Or secret
        hangouts for only the most skilled hackers?  What if a secret shadow
        cabal is building a self-aware AI somewhere in the deep?  What would
        you do if you found it?</p>

      <p>This is a game about exploring what might lie below the surface.</p>
      <div class="buttons">
        <p><a id="aboutBack" href="#">Back</a></p>
      </div>
    </div>

    <a id="hideUI" href="#"><i class="fa fa-large fa-chevron-down"></i>
      Hide UI
    </a>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="javascripts/require.js" data-main='/javascripts/iceburg/iceburg.js'></script>
	</body>
</html>
