{{ template "header.html" }}

{{ template "navbar.html" }}

<div class="container">
  <h1>Here's The Admin Dashboard</h1>
  <p>Now try not to blow anything up</p>
  <p>(Or do, I don't care)</p>

  <div class="row">

    <div class="col-md-4 text-center">
      <h2>Terra</h2>
      <p>Tools for terraforming your world</p>
      <a href="/admin/terra" class="btn btn-default">Go</a>
    </div>

    <div class="col-md-4 text-center">
      <h2>Flora</h2>
      <p>Cultivate your garden</p>
    </div>

    <div class="col-md-4 text-center">
      <h2>Fauna</h2>
      <p>The creatures that guard your realm</p>
    </div>

</div>

{{ template "footer.html" }}
